<ul class=" h-full w-full flex  flex-col justify-between">
    <li class="w-full text-white capitalize px-2 py-2 hover:bg-white hover:text-amber-600 overflow-hidden font-bold"><a href="/"><i class="fas fa-home"></i><span class="pl-7"> Home </span></a></li>
    <li class="w-full text-white capitalize px-2 py-2 hover:bg-white hover:text-amber-600 overflow-hidden font-bold"><a href="/profile"><i class="fas fa-user"></i><span class="pl-7"> Profile </span></a></li>
    <li class="w-full text-white capitalize px-2 py-2  hover:bg-white hover:text-amber-600 overflow-hidden font-bold"><a href="/edit"><i class="fas fa-edit"></i> <span class="pl-7">Edit</span></a></li>
    <li class="w-full text-white capitalize px-2 py-2  hover:bg-white hover:text-amber-600 overflow-hidden font-bold"><a href="/password"><i class="fa-solid fa-lock"></i><span class="pl-7">password</span></a></li>
    <li class="w-full text-white capitalize px-2 py-2  hover:bg-white hover:text-amber-600 overflow-hidden font-bold"><a href="/photo"><i class="fa-solid fa-id-badge"></i><span class="pl-7">photo</span></a></li>
    <li class="w-full text-white capitalize px-2 py-2  hover:bg-white hover:text-amber-600 overflow-hidden font-bold"><a href="/gallery"><i class="fa-solid fa-image"></i><span class="pl-7">Gallery </span></a></li>
    <li class="w-full text-white capitalize px-2 py-2  hover:bg-white hover:text-amber-600 overflow-hidden font-bold"><a href="/friends"><i class="fa-solid fa-user-group"></i><span class="pl-7">Friends</span></a></li>
    <li class="w-full text-white capitalize px-2 py-2  hover:bg-white hover:text-amber-600 overflow-hidden font-bold"><a href="/signup"><i class="fa-solid fa-user-plus"></i><span class="pl-7">signUp</span></a></li>
    <li class="w-full text-white capitalize px-2 py-2  hover:bg-white hover:text-amber-600 overflow-hidden font-bold"><a href="/login"><i class="fa-solid fa-right-from-bracket"></i><span class="pl-7">login</span> </a></li>
    <li class="w-full text-white capitalize px-2 py-2  hover:bg-white hover:text-amber-600 overflow-hidden font-bold"><a href="/logout"><i class="fa-solid fa-right-to-bracket"></i><span class="pl-7">logout </span></a></li>
    
</ul>